body{
    margin: 0;
    padding: 0;
    background: #131034;
}
.signup-form{
    width: 300px;
    padding: 20px; /*birbirlerinden 20px uzaklaştırır*/
    text-align: center; /*ortalar*/
    background: url(resim.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*taşmaları engellemek için*/
}
.signup-form h1{
    color: #fff;
    margin-top: 100px; /*yukarıyla arasını 100 px açar*/
    font-size: 40px;

}
.signup-form input{
    display: block;/*alt alta hizalar*/
    width: 100%;
    padding: 0 16px;/*üstten alttan 0, sağdan soldan 16px boşluk*/
    height: 44px;
    text-align: center;
    box-sizing: border-box;/*tüm kutular eşit hizalandı*/
    border: none; /*köşeler*/
}
.txt{
    margin: 20px 0;
    border-radius: 6px; /*köşeleri ovalleştirme*/
}
.signup-btn{
    margin-top: 60px; /*üstle 60px uzaklaşma*/
    margin-bottom: 20px; /*altla 20px uzaklaşma*/
    background: #538fef;
    color: #fff;
    border-radius: 44px;
    cursor: pointer; /*faredeki imleci değiştirir*/
    transition: 0.8s;
    display: block;
}
.signup-btn:hover{
    transform: scale(0.96);/*fareyi götürünce küçülme olması için*/
    background: #fff;
    color:#538fef ;
}
.signup-form a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}
.signup-form a:hover{
    color: yellow;
}
